body {
  overflow: hidden;
}
div.box {
  width: 690px;
  height: 430px;
  margin: 100px auto;
  display: block;
  /*background-color: #A345A3;
  border: 10px solid rgba(10,10,10,0.6);*/
}
div.action-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: rgba(0,0,0,0.7);
  border-top: 1px solid rgba(0,0,0,0.9);
}
div.msg {
  color: #FFF;
  font-size: 12px;
  padding: 8px;
}
.modal-body {
  max-height:400px;
  overflow-y: auto;
}
